<!DOCTYPE html>
<html>

<body>

<h1 class=text-align: center;>Fast Tag Home Page</h1>

<a href="https://fast-tag-website.sai-madhav-kart.repl.co/" target="_blank">1) Register as a User</a></br>

<a href="https://www.w3schools.com/" target="_blank">2) Issue the Card</a></br>

<a href="https://www.w3schools.com/" target="_blank">3) Delete a Card</a></br>

<a href="https://www.w3schools.com/" target="_blank">4) List all the Cards</a></br>

<a href="https://www.w3schools.com/" target="_blank">5) Logout</a>

<img src='https://www.google.com/url?sa=i&url=https%3A%2F%2Fwallhere.com%2Fen%2Fwallpaper%2F39329&psig=AOvVaw2Dlcl-flzYFr76pWWDXVX5&ust=1683289052435000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCIihqsLS2_4CFQAAAAAdAAAAABAJ'>

</body>
</html>